<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/styles.css">
  </head>
  <body>
    <main class="container-fluid" >
      <img style="width: 100%;height:100%; position: relative;" src="../static/img/back.jpg" alt="">
      <h1 style="position: absolute; top:10%; left:30%; color: white; font-weight: 800; text-transform: capitalize;">Music Instrument Recognition
      </h1>
      <div style="position: absolute;top: 50%;left: 50%;background-image: 
      linear-gradient(to right bottom, rgba(236, 237, 245, 0.7),rgba(184, 192, 238, 0.7)),
      url('../static/img/bg.jpg');
      transform: translate(-50%, -50%); width:50%;
      height: 50%; border: 2px solid red;border-radius: 15px;" class="">
        <h1 style="margin-top: 50px ; border: 2px solid red; text-align: center; width:50%; margin-left: auto; margin-right: auto; padding:10px;
        border-radius: 5px; color:red; font-weight: 800;">UP LOAD FILE</h1>
        <form style="margin-top: 50px;padding:20px;text-align: center;width:100%;color:black;font-weight: 800;" method="POST" enctype="multipart/form-data" action="/upload">
          <input class="color: white" type="file" name="file" >
          <input class="btn btn-danger" type="submit" value="add">
        </form>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>